header {
  height: 65px;
  align-items: center;
  position:sticky;
  top: 0;
  z-index: 1000;
  background: white;

  .motto {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
  }

  .icons {
    gap: 28px;
    margin: 0 20px;

    img {
      height: 40px;
    }
  }
}
