header {
  height: 65px;
  align-items: center;

  .motto {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
  }

  .icons {
    gap: 28px;
    margin: 0 20px;

    img {
      height: 40px;
    }
  }
}
